fastapi==0.111.0
uvicorn==0.29.0
python-multipart==0.0.9
pydantic==2.7.1
google-generativeai==0.7.2
google-cloud-texttospeech==2.16.3
moviepy==1.0.3
requests==2.31.0
imageio==2.34.1
imageio-ffmpeg==0.4.9
numpy==1.26.4
decorator==4.4.2
tqdm==4.66.2
Pillow==10.3.0
